/* 400 */
@font-face { 
    font-family: "Catamaran";
    src: url("../fonts/Catamaran-Regular.ttf");
  }
/* 500 */
  @font-face {
    font-family: "Catamaran-Medium";
    src: url("../fonts/Catamaran-Medium.ttf");
  }
/* 900 */
  @font-face {
    font-family: "Catamaran-Black";
    src: url("../fonts/Catamaran-Black.ttf");
  }
/* 300 */
  @font-face {
    font-family: "Catamaran-Lite";
    src: url("../fonts/Catamaran-Light.ttf");
  }
